* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
   
}


/*CSS code for the header/nav bar*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #274472;
    color: white;
    align-items: center;
}

.header h1{
    font-size: 225%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none; 
}

.header nav a{
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
/*End of the header/nav CSS*/



/*Start of the CSS for the hero image*/
.hero-image {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero-mountains.jpg");
    background-position: center;
    background-size: cover;
    
}

.hero-text {
   
  

  
  
}

/*End of the CSS for the hero image*/


/*Start of the CSS default attributes */
img {
    border: 5px solid orange;
}

p {
    font-size: 24px;
    padding: 20px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    margin: 10px;
}
.section-detail {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}
.section-title {
    font-size: 40px;
    display: inline-block;
    border-right: 10px solid;
    margin-right: 20px;
    color: orange;
    text-align: center;
    padding: 10px;
    flex-basis: 20%;
    border-color: purple;
    margin-left: 5px;
}


/*End of the CSS deafault attributes



/*Start of the CSS for the about me section */
.headshot-photo{
    position: relative;
  
   
}

/* The Start of the CSS attributes for the Project section */
.container{
    display:flex;
    flex-wrap: wrap;
    width: fit-content;
}
.project-image {
    position: relative;
    width: fit-content;
    margin: 10px;
}

.project-info {
    padding: 5px;
    bottom: 20px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: orange;
}

.container img{
    width: 300px;
}


 /* The end of the CSS attributes for the Projects sections*/




























/*Start of the footer CSS*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    list-style-type: none;
  }

footer ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    align-items: left;
  }

footer li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
 }

 footer a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
  }
.contact-list{
    flex:150;
}





/*End of the footer CSS*/
  
@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        padding: 0%;
    }
    .header h1{
        font-size: 200%;
        text-align: center;
    }
    #first-header{
       margin-left: 30px;
    }
    .project-section{
        flex-direction: column;
    }
    .section-title{
        font-size: 200%;
        align-items: center;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}
