



/*CSS code for the header/nav bar*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #274472;
    color: white;
    align-items: center;
}

.header h1{
    font-size: 225%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none; 
}

.header nav a{
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
/*End of the header/nav CSS*/



/*TESTING CODE HERE*/
/* Container holding the image and the text */
.container {
    position: relative;
  }

  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

/*
.header h1{
    display: inline-block;
}

.header div{
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
 .header ul{
    list-style-type: none;
 }

 .header li {
    display: inline-block;
    margin-left: 25px;
 }
 
 .header a {
    color: #ffffff;
    text-decoration: none;

}
*/


p {
    font-size: 16px;
}


/*Start of the CSS for the hero image*/
.hero-image {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/placeholder-hero.jpg");
    background-position: center;
    background-size: cover;
    
}

.hero-text {
    text-align: right;
  
  
    color: blue;
}

.run-buddy {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/placeholder-camera.jpg");
}
/*End of the CSS for the hero image*/

.section-title{
    border-right: 5px;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.section-title h2 {
    font-size: 48px;
  
}


.about-me-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /*padding-top: 30px;*/
}

.about-me-section p {
    font-size: 20px;
    /*padding: 50px;*/
    height: 50px;
    line-height: 1.6;
    width: 90%;
  
}
.about-me-section img {
    max-height: 200px;
    float: left;
    /*margin: 50px;*/
    padding-right: 15px;
}

.project-section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.projects {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
  }

  .project-wrap{
    padding-top: 50px;
  }


  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card h3 {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  




/*Start of the footer CSS*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    list-style-type: none;
  }

footer ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    align-items: center;
  }

footer li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
 }

 footer a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
  }

/*End of the footer CSS*/
  
@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        padding: 0%;
    }
    .header h1{
        font-size: 200%;
        text-align: center;
    }
    #first-header{
       margin-left: 30px;
    }
    .project-section{
        flex-direction: column;
    }
    .section-title{
        font-size: 200%;
        align-items: center;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}