:root{
    --primary-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
   
}
body {
    height: 100%;
   
}

/*CSS code for the header/nav bar*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family: var(--primary-font);
    background-color: #acdae2;
    color: white;
    align-items: center;
}

.header h1{
    font-size: 225%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none; 
}

.header nav a{
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
/*End of the header/nav CSS*/

/*Start of the CSS for the hero image*/
.hero-image {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    /* Sets the hero image for the page*/
    background-image: url("../images/hero-mountains.jpg");
    background-position: center;
    background-size: cover;
    
}
/*End of the CSS for the hero image*/

/*Start of the CSS default attributes */
img {
    border: 5px solid #f19c73;
}
/* Default CSS paragraph atrubutes*/
p {
    font-size: 18px;
    padding: 20px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Default CSS section atrubutes*/
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--primary-font);
    margin: 10px;
}

/* Sets the section-detail atributes*/
.section-detail {
    margin: 20px auto;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    
}

/* Sets the section-title atributes*/
.section-title {
    font-size: 40px;
    display: inline-block;
    border-right: 10px solid;
    margin-right: 20px;
    color: #edc86d;
    text-align: right;
    padding: 10px;
    flex-basis: 20%;
    border-color: #f19c73;
    margin-left: 5px;
}

/* Sets the headshot-photo img atributes*/
.headshot-photo img{
    position: relative;
    max-width: 400px;
    margin-top: 25px;
}

/*End of the CSS deafault attributes

/* The Start of the CSS attributes for the Project section */
.container{
    display:flex;
    flex-wrap: wrap;
    width: fit-content;
  
}
/* Sets the project-image atributes*/
.project-image {
    position: relative;
    width: fit-content;
    margin: 10px;
    
}
/* Sets the project-info atributes*/
.project-info {
    padding: 5px;
    bottom: 20px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #f3c86a;
}

.container img{
    width: 300px;
}

/* The end of the CSS attributes for the Projects sections*/

/*Start of the CSS for the about me section */
 .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #acdae2;
    color: #fff;
    list-style-type: none;
  }

.about ul {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    flex-wrap: wrap;
    width: 100%;
    
    align-items: left;
    width: 100%;
    padding-top: 20px;
  }

.about li {
    display: inline-block;
   
 }

.about a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 125%;
    margin-left: 150px;
   
  }
/*End of the CSS for the about me section */

/*Start of CSS for devices the size of tablets with a max width of 768px*/
@media screen and (max-width: 768px) {
  
    /*Resizes the elements in the paragraph section*/
    p{
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
        display: contents;
    }

    /*Resizes the main headshot photo*/

    .headshot-photo img{
        justify-content: center;
        max-width: 100%
    }

  /*Start of CSS for resizing the the html elements*/
    .section-title{

        padding-top: 0px;
        text-align: center;
        flex-direction: column;
        font-size: 35px;
        border-bottom: 10px solid;
        border-right:none;
        border-color: purple;
    }          
    section{
        padding:15px 15px;
    }
    .section-detail{
        flex-direction: column;
    }

    .container{
        justify-content: center;
    }

    .headshot-photo{
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .about a{
        margin-left: 0px;

    }
    /*End of CSS for resizing the the html elements*/
}

/*End of CSS for devices the size of tablets with a max width of 768px*/

/*Start of CSS for devices the size of tablets with a max width of 580px*/
@media screen and (max-width: 580px){
    
    /*Resizes the the menu bear for smaller screens*/
    .header{
        flex-direction: column;
        padding: 0%;
    }
    .header h1{
        font-size: 200%;
        text-align: center;
    }
    #first-header{
       margin-left: 30px;
    }

    /*Resizes the commmon page atrubutes */ 
    .container{
        justify-content: center;
    }

    .container img{
        width: 100%;
    }

    section{
        padding:15px 15px;
    }
    .section-detail{
        flex-direction: column;
    }
    
    .section-title{

        padding-top: 0px;
        text-align: center;
        flex-direction: column;
        font-size: 35px;
        border-bottom: 10px solid;
        border-right:none;
        border-color: purple;
    }
    /*End of the common page atrubutes*/
    
    /*Resizes the elements in the paragraph section*/
    p{
        flex-direction: column;
        justify-content: center;
        display: contents;

    }

    /*Resizes the main headshot photo*/
    .headshot-photo img{
        justify-content: center;
        max-width: 100%;
    }

/*Start of CSS for devices the size of tablets with a max width of 580px*/



 
    
}
